@import url("https://use.typekit.net/gie7xcf.css");


/* ============================= DESKTOP ====== */

body{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding: 0px;
  margin: 0px;

  font-family: multi-display;
}

.wrapper{
    height: 100%;
    width: 100%;
    background-image: radial-gradient(circle, rgba(255,255,255,.2), rgba(255,255,255,.6));
    margin: 0px;
}

.welcome,.form, .messages{
    display: flex;
    justify-content: center;
    align-items: flex-end;    
    overflow: hidden;
}
.welcome{
    height: 50%;
    text-shadow: 4px 4px 10px rgba(50,50,50,.5);
    color: #fff;
    font-size: 34pt;
    font-weight: 700;
}

.form form{
    justify-content: center;
    width: 100%;
    margin: 0px 5%;
    text-align: center;
}

form{
    display: flex;
}

input, button{
    height: 45px;
    border: none;
    margin: 0px;    
    margin-left: -4px;    
}

button{
    padding: 20px;
    width: 150px;
    background-color: #006699;
    color: #fff;
    font-weight: 400;
    display: table-cell;
    border-radius: 0px 4px 4px 0px;
}

button:hover{
    background-color: #004073;
    cursor: pointer;
}

.messages{
    padding: 0 15% 0 15%;
}

.messages, .stats{
    color: #fff;
    font-size: 18pt;
    font-weight: 400;
    text-shadow: 4px 4px 10px rgba(50,50,50,.5);
}

.messages{
    justify-content: center;
    word-break: break-all;
    margin-top: 20px;
}

.stats{
    color: #000;
    text-shadow: 4px 4px 10px rgba(255,255,255,.5);
    font-size: 14px;    
    padding: 20px;
    background-color: rgba(255,255,255,.8);   
    border-radius: 4px;
}
.stats .clicks{
    margin-bottom: 0px;
}

.stats.error_messages{
    text-align: center;
}

.date{
    font-size: 12px;
}

.subs, .caption{
    font-weight: 500;    
    margin: 15px 0px 0px 0px;
}

.caption{
    color: #006699;
    margin: 0px;
    font-size: 24px;
    font-weight: 400;
}

.url{
    width: 400px;
    padding: 10px;
    border-radius: 4px 0px 0px 4px;
}

.maxi_url{
    font-size: 14px;
    font-style: italic;
    margin: 0px;
}

a{
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #006699;
}

.visible-xs{
    display: none;
}




/* ================================================== */
/* ============================= MEDIA QUERIES ====== */
/* ================================================== */

/* =============================  SMARTPHONES PORTRAIT ====== */
@media only screen and (min-device-width : 412px) and (max-device-width: 732px){
        
    input{

    }

    .welcome{
        height: 45%;
    }
    
    .form{        
        /*height: 25%;*/
        align-items: flex-start;            
    }
    
    .url, button{
        height: 100px;
        font-size: 36px;
        border-radius: 0px 6px 6px 0px; 
    }   
    
    button{
        width: 300px;
    }
    
    .messages, .stats{
        font-size: 28px; 
        justify-content: left;
    }      
    
    .stats{
        border-radius: 6px;
        width: 100%;    
    }
    
    .caption{
        font-size:36px;
    }
    
    .date{
        font-size: 24px;
    }
    
    .url{
        width: 70%;
        height: 100px;      
        font-size: 36px;
        text-align: center;              
        padding: 20px;
        margin: 0px;
        border-radius: 6px 6px 0px 0px;       
    }   
    
    .maxi_url{
        font-size: 34px;
    }   
    
    .hidden-xs{
        display: none !important;
    }
    
    .visible-xs{
        display: block !important;        
    }
    
    .visible-xs button{
        margin: 0px;
    }
}

/* ============================= SMARTPHONES LANDSCAPE ====== */
@media only screen and (min-device-width : 732px) and (max-device-width : 767px) and (orientation:landscape){
    
    .welcome{
        height: 20%;
        font-size: 36px;
    }
    
    .url, button{
        display: inline-block;
        font-size: 24px;
        height: 80px;
    }
    
    .url{
        width: 100%;        
        border-radius: 6px 0px 0px 6px;
    }
    
    button{
        width: 220px;
        padding: 5px;        
        border-radius: 0px 6px 6px 0px;

    }
    
    .stats{
        width: 100%;       
    }
    
    .stats a{
        font-size: 22px;
    }
    
    .hidden-xs{
        display: inline-block !important;               
    }
    
    .visible-xs{
        display: none !important;        
    }    
}

/* ============================= TABLETS ====== */
@media only screen and (min-device-width : 767px) and (max-device-width: 1023px) and (orientation: portrait){
    .welcome{
        height: 45%;
    }
    .form{
        /*height: 100px;*/
    }

    input, button{
        padding: 10px;    
        font-size: 16px;
        height: 50px;
    }        
    
    .stats{
        font-size: 18px;
    }
    
}

@media only screen and (min-device-width : 1024px) and (max-device-width: 1349px){
    .welcome{
        height: 40%;
        font-size: 42px;
    }

    input, button{
        padding: 5px;    
        height: 40px;
    }    
    
    .messages{
        font-size: 14px;
    }
    
    .caption{
        font-size: 22px;
    }
    
    .stats{
        font-size: 12px;
    }
}

